#principal{background-image:url(../img/fondo.jpg) ; height: 18px; background-position:center center;
    background-attachment: fixed; background-size: cover;}
    #secundario{background-image:url(../img/fondo2.jpg) ; height: 18px; background-position:center center;
        background-attachment: fixed; background-size: cover;}
 